.Antonym {
  margin-inline-start: 20px;
  border-top: 1px dashed black;
  padding-top: 25px;
  margin-top: 25px;
}

.Antonym span {
  opacity: 0.6;
  font-size: 19px;
}
.Antonym button {
  border-radius: 6px;
  margin: 4px 0 4px 6px;
  padding: 6px;
  opacity: 0.6;
  font-weight: 500;
  color: white;
  background-color: darkgray;
}

.Antonym button:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}

.Antonym div {
  font-size: 12px;
  margin-top: 10px;
}
