.App {
  background-repeat: repeat;
  background-position: center;
  background-color: hsl(0, 0%, 100%);
  font-family: "Texturina", serif;
  letter-spacing: 0.5px;
}

.App header {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0deg 0% 0% / 54%);
  border-radius: 6px;
  box-shadow: 1px 1px 2px hsl(0, 0%, 0%);
  display: block;
  margin: 15px 10px;
  padding: 25px;
}
.App h1 {
  font-weight: bold;
  margin-bottom: 35px;
  text-align: center;
}
.App form {
  text-align: center;
}

.App input {
  background-color: hsl(0deg 0% 96%);
  border: 1px solid hsl(0deg 0% 0% / 54%);
  border-radius: 12px;
  box-shadow: 1px 1px 1px hsl(0deg 0% 0% / 89%);
  color: hsl(0, 0%, 0%);
  font-size: 24px;
  margin: 0 auto;
  padding: 4px;
  text-align: center;
  width: 50%;
}
.App input::placeholder {
  color: hsl(0deg 0% 0% / 33%);
}
.App .background-overlay {
  background-color: hsl(0deg 0% 100% / 35%);
  padding: 40px 0;
}
.App .inset-wrapper {
  max-width: 800px;
  margin: 50px auto 50px auto;
}
.App h1::selection {
  background-color: hsl(16, 100%, 50%);
  color: white;
}
.App input::selection {
  background-color: hsl(237, 84%, 78%);
  color: hsl(0, 0%, 100%);
}

@media only screen and (max-width: 576px) {
  .App input {
    font-size: 18px;
    width: 90%;
  }
  .App header {
    padding: 15px;
  }
  .App h1 {
    margin-bottom: 20px;
  }
}
