.Dictionary form {
  text-align: center;
}

.Dictionary input {
  background-color: lightgreen;
  border: 2px solid gainsboro;
  border-radius: 12px;
  box-shadow: 1px 1px 1px grey;
  color: black;
  font-size: 24px;
  padding: 4px;
  text-align: center;
  width: 75%;
}
