.Dictionary {
  background-repeat: repeat;
  background-position: center;
  background-color: hsl(0, 0%, 100%);
}

.Dictionary header {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0deg 0% 0% / 49%);
  border-radius: 6px;
  box-shadow: 1px 1px 2px hsl(0, 0%, 0%);
  display: block;
  margin: 10px;
  padding: 25px;
}
.Dictionary h1 {
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}
.Dictionary form {
  text-align: center;
}

.Dictionary input {
  background-color: hsl(0deg 0% 96%);
  border: 1px solid hsl(0deg 0% 0% / 49%);
  border-radius: 12px;
  box-shadow: 1px 1px 1px hsl(0deg 0% 0% / 89%);
  color: hsl(0, 0%, 0%);
  font-size: 24px;
  padding: 4px;
  text-align: center;
  width: 50%;
}
.Dictionary input::placeholder {
  color: hsl(0deg 0% 0% / 33%);
}
.Dictionary .background-overlay {
  background-color: hsl(0deg 0% 100% / 35%);
  padding: 40px 0;
}
.Dictionary .inset-wrapper {
  max-width: 800px;
  margin: 50px auto 50px auto;
}
.Dictionary h1::selection {
  background-color: hsl(16, 100%, 50%);
  color: white;
}
