.Footer {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0deg 0% 0% / 54%);
  border-radius: 6px;
  box-shadow: 1px 1px 2px hsl(0, 0%, 0%);
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 15px 10px;
  padding: 25px;
  text-align: center;
}

.Footer p.dictionary-attribution {
  border-top: 1px dotted hsl(0deg 0% 0% / 54%);
  padding-top: 16px;
}

.Footer p.api-attributions,
p.promotion {
  color: hsl(0deg 0% 0% / 54%);
  font-size: 14px;
}

.Footer a {
  color: hsl(243deg 100% 50% / 63%);
  text-decoration: none;
}
.Footer a::visited {
  color: hsl(243deg 100% 50% / 63%);
}
.Footer a:hover {
  color: hsl(243deg 100% 50% / 63%);
  text-decoration: underline;
}
.Footer a:active {
  font-weight: bolder;
  color: hsl(16, 100%, 50%);
}

.Footer p::selection {
  background-color: hsl(16, 100%, 50%);
  color: white;
}
.Footer a::selection {
  background-color: hsl(243deg 100% 50% / 63%);
  color: white;
}

@media only screen and (max-width: 576px) {
  .Footer {
    padding: 15px;
  }
  .Footer p.promotion {
    display: none;
  }
}
