.Meaning {
  font-size: 17px;
}

.Meaning .part-of-speech {
  font-size: 28px;
  font-weight: bold;
}

.Meaning .definition {
  margin-inline-start: 20px;
}

.Meaning dd::selection {
  background-color: hsl(16, 100%, 50%);
  color: hsl(0, 0%, 100%);
}
.Meaning .part-of-speech::selection {
  background-color: hsl(16, 100%, 50%);
  color: hsl(0, 0%, 100%);
}
