.Meaning .part-of-speech {
  font-size: 24px;
}

.Meaning .definition {
  margin-inline-start: 20px;
}
.Meaning .example {
  margin-inline-start: 40px;
  opacity: 0.6;
  font-style: italic;
}
.Meaning .example-indicator {
  font-style: normal;
  font-weight: 600;
}
