.Phonetics {
  align-items: center;
  border-bottom: 1px dotted hsl(0deg 0% 0% / 54%);
  color: hsla(0, 0%, 0%, 0.56);
  display: flex;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  flex-wrap: wrap;
  padding-bottom: 10px;
  margin-inline-start: 20px;
  margin-bottom: 10px;
}
.Phonetics .volume-high-icon {
  color: hsl(0, 0%, 100%);
  background-color: hsl(243deg 100% 50% / 63%);
  padding: 10px;
  margin: 4px;
  border-radius: 50%;
}

.Phonetics span {
  padding: 0 5px;
}
.Phonetics::selection,
.Phonetics span::selection {
  background-color: hsl(16, 100%, 50%);
  color: white;
}

@media only screen and (max-width: 576px) {
  .Phonetics .volume-high-icon {
    padding: 7px;
  }
}
