.PhotoGallery {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0deg 0% 0% / 54%);
  border-radius: 6px;
  box-shadow: 1px 1px 2px hsl(0, 0%, 0%);
  margin: 10px;
  padding: 25px;
}

.PhotoGallery h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 35px;
}

.PhotoGallery img {
  border-radius: 3px;
  border: 12px ridge hsl(43, 93%, 66%);
  box-shadow: 5px 5px 6px hsl(0, 0%, 75%);
  margin-bottom: 23px;
}

.PhotoGallery h2::selection {
  background-color: hsl(16, 100%, 50%);
  color: hsl(0, 0%, 100%);
}
@media only screen and (max-width: 576px) {
  .PhotoGallery {
    padding: 15px;
  }
  .PhotoGallery h2 {
    margin-bottom: 23px;
  }
  .PhotoGallery img {
    border: 5px ridge hsl(43, 93%, 66%);
  }
}
